<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrx.repository.TransactionItemMapper">
  <resultMap id="BaseResultMap" type="com.jrx.model.TransactionItem">
    <id column="trans_id" jdbcType="INTEGER" property="transId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="card_nbr" jdbcType="VARCHAR" property="cardNbr" />
    <result column="tranno" jdbcType="INTEGER" property="tranno" />
    <result column="month_nbr" jdbcType="INTEGER" property="monthNbr" />
    <result column="bill" jdbcType="DECIMAL" property="bill" />
    <result column="trans_type" jdbcType="VARCHAR" property="transType" />
    <result column="txn_datetime" jdbcType="TIMESTAMP" property="txnDatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trans_id, cust_id, account, card_nbr, tranno, month_nbr, bill, trans_type, txn_datetime
  </sql>
  <select id="selectByExample" parameterType="com.jrx.model.TransactionItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from transaction_item_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transaction_item_table
    where trans_id = #{transId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transaction_item_table
    where trans_id = #{transId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jrx.model.TransactionItemExample">
    delete from transaction_item_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jrx.model.TransactionItem">
    insert into transaction_item_table (trans_id, cust_id, account, 
      card_nbr, tranno, month_nbr, 
      bill, trans_type, txn_datetime
      )
    values (#{transId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, 
      #{cardNbr,jdbcType=VARCHAR}, #{tranno,jdbcType=INTEGER}, #{monthNbr,jdbcType=INTEGER}, 
      #{bill,jdbcType=DECIMAL}, #{transType,jdbcType=VARCHAR}, #{txnDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jrx.model.TransactionItem">
    insert into transaction_item_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        trans_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="cardNbr != null">
        card_nbr,
      </if>
      <if test="tranno != null">
        tranno,
      </if>
      <if test="monthNbr != null">
        month_nbr,
      </if>
      <if test="bill != null">
        bill,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="txnDatetime != null">
        txn_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        #{transId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="cardNbr != null">
        #{cardNbr,jdbcType=VARCHAR},
      </if>
      <if test="tranno != null">
        #{tranno,jdbcType=INTEGER},
      </if>
      <if test="monthNbr != null">
        #{monthNbr,jdbcType=INTEGER},
      </if>
      <if test="bill != null">
        #{bill,jdbcType=DECIMAL},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="txnDatetime != null">
        #{txnDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jrx.model.TransactionItemExample" resultType="java.lang.Long">
    select count(*) from transaction_item_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transaction_item_table
    <set>
      <if test="record.transId != null">
        trans_id = #{record.transId,jdbcType=INTEGER},
      </if>
      <if test="record.custId != null">
        cust_id = #{record.custId,jdbcType=INTEGER},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNbr != null">
        card_nbr = #{record.cardNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.tranno != null">
        tranno = #{record.tranno,jdbcType=INTEGER},
      </if>
      <if test="record.monthNbr != null">
        month_nbr = #{record.monthNbr,jdbcType=INTEGER},
      </if>
      <if test="record.bill != null">
        bill = #{record.bill,jdbcType=DECIMAL},
      </if>
      <if test="record.transType != null">
        trans_type = #{record.transType,jdbcType=VARCHAR},
      </if>
      <if test="record.txnDatetime != null">
        txn_datetime = #{record.txnDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transaction_item_table
    set trans_id = #{record.transId,jdbcType=INTEGER},
      cust_id = #{record.custId,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      card_nbr = #{record.cardNbr,jdbcType=VARCHAR},
      tranno = #{record.tranno,jdbcType=INTEGER},
      month_nbr = #{record.monthNbr,jdbcType=INTEGER},
      bill = #{record.bill,jdbcType=DECIMAL},
      trans_type = #{record.transType,jdbcType=VARCHAR},
      txn_datetime = #{record.txnDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jrx.model.TransactionItem">
    update transaction_item_table
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="cardNbr != null">
        card_nbr = #{cardNbr,jdbcType=VARCHAR},
      </if>
      <if test="tranno != null">
        tranno = #{tranno,jdbcType=INTEGER},
      </if>
      <if test="monthNbr != null">
        month_nbr = #{monthNbr,jdbcType=INTEGER},
      </if>
      <if test="bill != null">
        bill = #{bill,jdbcType=DECIMAL},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="txnDatetime != null">
        txn_datetime = #{txnDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where trans_id = #{transId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jrx.model.TransactionItem">
    update transaction_item_table
    set cust_id = #{custId,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      card_nbr = #{cardNbr,jdbcType=VARCHAR},
      tranno = #{tranno,jdbcType=INTEGER},
      month_nbr = #{monthNbr,jdbcType=INTEGER},
      bill = #{bill,jdbcType=DECIMAL},
      trans_type = #{transType,jdbcType=VARCHAR},
      txn_datetime = #{txnDatetime,jdbcType=TIMESTAMP}
    where trans_id = #{transId,jdbcType=INTEGER}
  </update>
</mapper>